body {
    height: 100%;
    text-align: center;
    background: #f7f7f7;
    color: #000;
    font-family: monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    font-size: 1.8rem;
    line-height: 3.4rem;
    margin: 0 0 150px;
}
ul {
    display: block;
    list-style-type: none;
}
personal-info li {
    width: 50%;
    float: left;
    height: 80px;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
b {
    font-size: 15px;
    line-height: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
    display: block;
    font-weight: 700;
    text-transform: capitalize;
}
h1, a {
    color: #03A9F4;
}
a {
    outline: 0 none;
}
a, a:hover {
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
}
* {
    box-sizing: border-box;
}