<style type="text/css">
	body{margin 50px;}
	h1{color:  #00ff00;
		font-family: Arial;}
	h2{color:  #0066ff;
		font-weight: :bold;
		font-family: Verdana;}
	h3{color: #cc6633;
		font-family: Garamond;}
</style>