
body{ /*quitamos scroll, debido a que el body tiene sus propios margin y padding*/
    margin: 0;
    padding: 0;
}

.fondo{
    
    background-image: url('../img/FondoYop.jpg');
    width: 100%;
    height: 100vh;/*altura vertical para que adapte a todos los dispositivos*/
    background-size: cover;/*para que no se repita y se adapte al contenedor*/
    background-position: center;/*centramos la imagen*/
    z-index: 1;
    justify-content: space-around;
    align-items: center;


}

.content{

    display: flex;
    height: 10em;
    width: 30vh;
    background-color:  rgb(157, 200, 230);
    font-family: monospace;
    font-size: 1rem;
    
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 10%;
    float:right;
    border-radius: 30px;
    border:steelblue solid;
    z-index: 2;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
             
}


/*.nombre, .apellidos {

    display: flex;
    height: 30%;
    width: 40%;
    background-color:  rgb(208, 228, 242);
    font-size: 1rem;
    font-family: monospace;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    float:right;
    border-radius: 30px;
    z-index: 2;
    flex-direction: column;
       
}*/


.menu{

    display: flex;
    width: 100%;
    float: left;
    flex-direction: column;
   
   
}

.menu ul li {
  
    float: right;
    list-style-type:none;
    
    
}
  
.menu ul li a{
    
    padding: 10px;
    color: white;
    font-size: 150%;
    font-family:monospace;
    text-decoration: none;
}
    
.menu ul li a:hover{
    border-bottom: 7px solid rgba(76, 168, 204, 0.7);
    padding-bottom: 3px; 

}
/*.social a{
    
    height: 15px;
    width: 15px;
    position: relative;
    top:15px;
    
}*/






