<style type="text/css">
	body{margin 50px;}
	*{
		color: #ff0000;
		font-family: "Courier New";
		font-size: small;
	}	
	h1, h5{color:  #00ff00;
		font-family: Arial;}
	h2{color:  #FF6600;
		font-weight: :bold;
		font-family: Verdana;}
	h3, h4{color: #3366cc;
		font-family: Garamond;}
	
	
</style>